.hero--home {
    position: relative;
    .navigation--primary {
        @include media-breakpoint-up(md) {
            background: transparent;
            position: absolute;
            left: 0;
            top: 0;
        }
        a, span {
            display: none;
        }
    }
    .component--gallery {
        .container-fluid {
            .col-4 {
                opacity: 0;
            }
        }
    }
    &__overlay {
        display: none;
        background: rgb(6,17,41);
        background: -moz-linear-gradient(180deg, rgba(6,17,41,0.9) 0%, rgba(12,32,78,0.6) 100%);
        background: -webkit-linear-gradient(180deg, rgba(6,17,41,0.9) 0%, rgba(12,32,78,0.6) 100%);
        background: linear-gradient(180deg, rgba(6,17,41,0.9) 0%, rgba(12,32,78,0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#061129",endColorstr="#0c204e",GradientType=1);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &__content {
            display: none;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            &__social {
                margin-top: 2rem;
                text-align: center;
                .component--media-links__link {
                    padding: 0 .5rem;
                    margin: .25rem 0;
                    display: inline-block;
                    @include media-breakpoint-up(sm) {
                        padding: 0 1rem;
                    }
                    .icon {
                        height: 2rem;
                    }
                }
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
            .image--logo {
                display: block;
                margin: 0 auto;
                height: 12rem;
                width: 12rem;
                @media only screen and (min-width: 1500px) {
                    height: 16rem;
                    width: 16rem;
                }
            }
        }
        &__social {
            z-index: 1;
            display: none;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            .component--media-links__link {
                display: block;
                margin-bottom: 1rem;
                .icon {
                    height: 2rem;
                    display: none;
                }
            }
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    .component--scroll {
        display: none;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}