.hero--home {
    position: relative;
    .navbar {
        @include media-breakpoint-up(md) {
            background: transparent;
            position: absolute;
            left: 0;
            top: 0;
        }
        a {
            display: none;
        }
    }
    .component--gallery {
        .container-fluid {
            .col-4 {
                opacity: 0;
            }
        }
    }
    &__overlay {
        display: none;
        background: rgba(0, 0, 0, .8);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &__content {
            display: none;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            &__social {
                margin-top: 2rem;
                text-align: center;
                .component--media-links__link {
                    padding: 0 1rem;
                    margin: .5rem 0;
                    display: inline-block;
                    .icon {
                        height: 2rem;
                    }
                }
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
            .image--logo {
                display: block;
                margin: 0 auto;
                height: 12rem;
                width: 12rem;
                @media only screen and (min-width: 1500px) {
                    height: 16rem;
                    width: 16rem;
                }
            }
        }
        &__social {
            z-index: 1;
            display: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            .component--media-links__link {
                display: block;
                margin-bottom: 1rem;
                .icon {
                    height: 2rem;
                    display: none;
                }
            }
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    .component--scroll {
        display: none;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}