{% set complex_text_list_classes = complex_text_list_classes|default() %}
{% set complex_text_list_title = complex_text_list_title|default() %}
{% set complex_text_list_type = complex_text_list_type|default() %}
{% set complex_text_list_data = complex_text_list_data|default() %}

<div class="complex-text complex-text--list {{ complex_text_list_classes }} col-md-4">
    <h4 class="complex-text--list__title">{{ complex_text_list_title }}</h4>
    {% include "@atoms/text/text-list/_text-list-main.twig" with
        {
            "text_list_type": complex_text_list_type,
            "text_list_data": complex_text_list_data,
            "text_list_classes": "my-3" 
        }
    %}
</div>