{% set background_src = background_src|default() %}
{% set background_alt = background_alt|default() %}
{% set background_classes = background_classes|default() %}

<div class="background {{ background_classes }}">
    {#{% include "@atoms/images/default-image/default-image.twig" with
        {
            "image_src": background_src,
            "image_alt": background_alt,
            "image_style": "background-image"
        }
    %}#}
</div>