.button--section {
    padding: 2rem;
    background: transparent;
    border-radius: .3125rem;
    border: 2px solid #A1F0BC;
    display: block;
    height: 8rem;
    width: 9rem;
    margin: 0 auto;
}