.navigation--mobile {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    background: #2f2f2f;
    display: block;
    width: auto;
    z-index: 1000;
    border-radius: 100rem;
    margin: 0;
    padding: 0;
    @include media-breakpoint-up(sm) {
        display: none;
    }
    &__links {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        max-width: 100vw;
        padding: 0 2rem;
        &__link {
            flex: 1;
            padding: 0;
            margin: 0;
            height: 4rem;
            width: 4rem;
            border-bottom: .25rem solid transparent;
            a {
                color: $white;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                width: 100%;
                text-align: center;
                .image--default {
                    width: 1.5rem;
                }
                span {
                    display: block;
                    font-size: .5rem;
                    line-height: 1.9;
                }
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
            &.active {
                border-bottom: .25rem solid #FF2F6A;
            }
            &:hover,
            &:focus {
                border-bottom: .25rem solid $white;
            }
        }
    }
}