{% set card_style = card_style|default() %}
{% set card_title = card_title|default() %}
{% set card_text = card_text|default() %}
{% set card_img_src = card_img_src|default() %}
{% set card_img_alt = card_img_alt|default() %}
{% set card_btn_text = card_btn_text|default() %}
{% set card_btn_href = card_btn_href|default() %}

<div class="content-card {{ card_style }}">
    {% include "@atoms/images/default-image/default-image.twig" with 
        {
            "image_src": card_img_src,
            "image_alt": card_img_alt,
            "image_style": "card-img-top"
        }
    %}
    <div class="card-body">
        <h4 class="card-title">{{ card_title }}</h4>
        <p class="card-text">{{ card_text }}</p>
        {% include "@atoms/button/primary/primary.twig" with
            {
                "btn_href": card_btn_href,
                "btn_text": card_btn_text,
                "btn_classes": "mx-auto"
            }
        %}
    </div>
</div>