{% embed "@atoms/layout/layout-site/_layout-site-main.twig" with
    {
        "layout_site_id": "layout--index"
    }
%}
    {% block hero %}
        {% include "@organisms/heros/hero-home/_hero-home-main.twig" with
            {
                "hero_home_shots": index.heroShots
            }
        %}
    {% endblock %}

    {% block main %}
        {# {% include "@organisms/sections/section-overview/_section-overview-main.twig" %} #}
        {% include "@organisms/sections/section-ncp/_section-ncp-main.twig" %}
        {% include "@organisms/sections/section-marvel/_section-marvel-main.twig" %}
        {% include "@organisms/sections/section-covpn/_section-covpn-main.twig" %}
        {% include "@organisms/sections/section-allsafe/_section-allsafe-main.twig" %}
        {# Dribbble #}
        {% embed "@organisms/sections/section-default/_section-default-main.twig" with
            {
                "section_default_classes": "section--default--dribbble section--default--full-width",
                "section_default_image_orientation": "right"
            }
        %}
            {% block section_default_content %}
                <h2 class="section--default--dribbble__title"><span class="section--default--dribbble__title__1">Find Me On</span><br><span class="section--default--dribbble__title__2">Dribbble.</span></h2>
                <p class="section--default--dribbble__subtitle"><a href="https://dribbble.com/jacobcaccamo">@jacobcaccamo</a></p>
                <p>Your support means a lot, and further helps motivate me to continue designing with passion and purpose. I hope you will consider checking out my Dribbble account!</p>
                <div class="section--default--dribbble__button">
                    {% include "@atoms/button/button-default/_button-default-main.twig" with
                        {
                            "button_default_classes": "button--default--dribbble",
                            "button_default_text": "Visit My Dribbble",
                            "button_default_href": "https://dribbble.com/jacobcaccamo"
                        }
                    %}
                </div>
            {% endblock %}
            {% block section_default_image_right %}
                {% include "@molecules/blocks/block-images/_block-images-main.twig" with
                    {
                        "block_images_classes": "section--default--dribbble__shots",
                        "block_images_animation_direction": "from_left",
                        "block_images_data": generic.dribbbleImage
                    }
                %}
            {% endblock %}
            {% block section_default_outside_content %}
                {% include "@atoms/images/image-default/_image-default-main.twig" with 
                    {
                        "image_default_classes": 'section--default--dribbble__dribbble',
                        "image_src": 'dribbble-logo.svg',
                        "image_alt": "Dribbble Logo"
                    }
                %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}
