{% set component_progress_circle_classes = component_progress_circle_classes|default() %}
{% set component_progress_circle_id = component_progress_circle_id|default() %}
{% set component_progress_circle_label = component_progress_circle_label|default() %}

<div class="component-pl component--progress-circle {{ component_progress_circle }}">
    <div id="{{ component_progress_circle_id }}" class="component--progress-circle__wrapper">
        <div class="component--progress-circle__wrapper__content">
            {% block component_progress_circle_content %}{% endblock %}
        </div>
    </div>
    <h3 class="component--progress-circle__label">{{ component_progress_circle_label }}</h3>
</div>