{% embed "@atoms/layout/layout-site/_layout-site-main.twig" with
    {
        "layout_site_id": "layout--education"
    }
%}
    {% block hero %}
        {% embed "@organisms/heros/hero-section/_hero-section-main.twig" with
            {
                "hero_section_title": "Education"
            }
        %}{% endembed %}
    {% endblock %}
    
    {% block main %}
        <div class="container">
            <div class="block--university mb-5">
                {% include "@atoms/images/image-default/_image-default-main.twig" with 
                    {
                        "image_src": tuftsLogo.src,
                        "image_alt": tuftsLogo.alt,
                        "image_default_classes": "block--university__logo"
                    }
                %}
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2 class="mb-4">Overview</h2>
                    <p>B.S. in Engineering Psychology Major, Computer Science Special Interest</p>
                    <p>Engineering psychology, human factors, and computer science courses at Tufts University prepared me to be an effective team member armed with the ability to lead successful design and development projects. Engineering psychology has broadened my skill set to include UI/UX development, human resources, research, and product management.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2 class="mb-4">Achievements</h2>
                    <ul>
                        <li>Major GPA: 4.00</li>
                        <li>Overall GPA: 3.96</li>
                        <li>Dean's List - Fall 2013, Spring 2014, Fall 2014, Spring 2015, Fall 2015, Spring 2016, Fall 2016</li>
                        <li>Recipient of the De Florez Prize in Human Engineering (2017)</li>
                        <li>Summa Cum Laude</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2 class="mb-4">Industry Related<br>Coursework</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    {% include "@atoms/text/text-list/_text-list-main.twig" with
                        {
                            "text_list_type": "ul",
                            "text_list_data": leftList
                        }
                    %}
                </div>
                <div class="col-sm">
                    {% include "@atoms/text/text-list/_text-list-main.twig" with
                        {
                            "text_list_type": "ul",
                            "text_list_data": rightList
                        }
                    %}
                </div>
            </div>
        </div>
        {% include "@molecules/blocks/block-activities/_block-activities-main.twig" %}
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}