{% embed "@atoms/layout/layout-site/_layout-site-master.twig" with
    {
        "layout_site_id": "layout--experience"
    }
%}
    {% block hero %}
        {% embed "@organisms/heros/hero-section/_hero-section-master.twig" with
            {
                "hero_section_title": "Experience"
            }
        %}{% endembed %}
    {% endblock %}
    
    {% block main %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 mx-auto">
                    {% include "@organisms/sections/view-experience/_view-experience-master.twig" with
                        {
                            "view_experience_data": experience_data
                        }
                    %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-master.twig" %}
    {% endblock %}
{% endembed %}