{% embed "@atoms/layout/_site.twig" %}
    {% block header %}
        {% include "@molecules/navigation/navigation.twig" %}
    {% endblock %}

    {% block hero %}
        {% embed "@molecules/blocks/jumbotron/jumbotron.twig" with {'jumbo_id':'feed-banner'} %}
            {% block jumbotron_content %}
                <h1 class="display-3">The Feed</h1>
                <p class="lead">Find interesting articles on design, development, emerging technologies, and more.</p>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block main %}
        {% embed "@organisms/regions/feed/feed-main-region.twig" %}
            {% block feed %}
                {% include "@organisms/sections/feed-posts/_feed-posts-master.twig" with 
                    {
                        "feed_posts_data": feedData
                    }
                %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/footer/footer.twig" %}
    {% endblock %}
{% endembed %}
