{% embed "@atoms/layout/layout-site/_layout-site-master.twig" with
    {
        "layout_site_id": "layout--index"
    }
%}
    {% block hero %}
        {% include "@organisms/heros/hero-home/_hero-home-master.twig" with
            {
                "hero_home_shots": heroShots
            }
        %}
    {% endblock %}

    {% block main %}
        {% include "@organisms/sections/section-overview/_section-overview-master.twig" %}
        {% embed "@organisms/sections/section-default/_section-default-master.twig" with
            {
                "section_default_classes": "section--default--ncp",
                "section_default_image_src": "index/ncp.png",
                "section_default_image_orientation": "left"
            }
        %}
            {% block section_default_content %}
                <h2 class="section--default--ncp__title"><span class="section--default--ncp__title__1">Natural</span><br><span class="section--default--ncp__title__2">Inspiration.</span></h2>
                <p class="section--default--ncp__subtitle">Natural Color Palette Collection</p>
                <p>Beautiful color palettes, or collections of colors that work well together, can be found almost anywhere in the world. In my Natural Color Palette collection, I explore various color palettes derived from beautiful Unsplash photography, and a few of my more modest shots. These palettes can be found</p>
                {% include "@molecules/blocks/block-images/_block-images-master.twig" with
                    {
                        "block_images_classes": "section--default--ncp__shots",
                        "block_images_data": ncpImages
                    }
                %}
                <div class="section--default--ncp__button">
                    {% include "@atoms/button/button-default/_button-default-master.twig" with
                        {
                            "button_default_text": "See Full Collection",
                            "button_default_href": "#"
                        }
                    %}
                </div>
            {% endblock %}
        {% endembed %}
        <div class="featured-portfolio-piece my-5">
            {% include "@molecules/blocks/block-featured-item/_block-featured-item-master.twig" with
                {
                    "featured_img": featured
                }
            %}
        </div>
        <div class="feed">
            <div class="container">
                <h2>The Feed</h2>
                <h3 class="mt-3">Huh?</h3>
                <p><a href="feed.html">The Feed</a> is a page I created to post interesting articles about a collection of topics ranging from design to emerging technology. I try to update it frequently, so be sure to check the feed again!</p>
                <h3 class="mt-3">Latest Post from The Feed</h3>
                {% include "@molecules/blocks/feed-post/_feed-post-master.twig" with
                    {
                        "feed_post_title": feedPost.title, 
                        "feed_post_date_posted": feedPost.date_posted,  
                        "feed_post_source": feedPost.source, 
                        "feed_post_img": {
                            "src": feedPost.img.src,
                            "alt": feedPost.img.alt
                        },
                        "feed_post_href": feedPost.href,
                        "feed_post_comment": feedPost.comment,
                        "feed_post_author": feedPost.author,
                        "feed_post_tags": feedPost.tags
                    }
                %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-master.twig" %}
    {% endblock %}
{% endembed %}
