{% embed "@atoms/layout/layout-site/_layout-site-master.twig" %}
    {% block hero %}
        {% include "@organisms/heros/hero-home/_hero-home-master.twig" with
            {
                "hero_home_shots": heroShots
            }
        %}
    {% endblock %}

    {% block main %}
        <div class="overview container">
            <div class="row">
                {% include "@molecules/blocks/block-headshot/_block-headshot-master.twig" with
                    {
                        "block_headshot_classes": "col-md-6"
                    }
                %}
                <div class="col-md-6 intro-paragraph my-auto">
                    <p class="my-sm-3">I am a UI/UX designer at Booz Allen Hamilton, Inc. who specializes in interaction design, user research, and the human factors iterative method. I believe that usability is at the core of all products; I work to ensure that websites, mobile applications, and software are effective, efficient, and satisfying. I coded this website using modern frameworks to showcase my front-end development skills. I hope you enjoy your experience on this site!</p>
                </div>
            </div>
        </div>
        <div class="quote container">
            <div class="row">
                <div class="col-12">
                    {% include "@molecules/text/blockquote/_blockquote-master.twig" with
                        {
                            "blockquote_text": "Good design, when it's done well, becomes invisible. It's only when it's done poorly that we notice it.",
                            "blockquote_author": "Jared Spool"
                        }
                    %}
                </div>
            </div>
        </div>
        <div class="cards container">
            {% include "@organisms/sections/cards/_cards-master.twig" with
                {
                    "cards_data": cards
                }
            %}
        </div>
        <div class="featured-portfolio-piece my-5">
            {% include "@molecules/blocks/block-featured-item/_block-featured-item-master.twig" with
                {
                    "featured_img": featured
                }
            %}
        </div>
        <div class="feed">
            <div class="container">
                <h2>The Feed</h2>
                <h3 class="mt-3">Huh?</h3>
                <p><a href="feed.html">The Feed</a> is a page I created to post interesting articles about a collection of topics ranging from design to emerging technology. I try to update it frequently, so be sure to check the feed again!</p>
                <h3 class="mt-3">Latest Post from The Feed</h3>
                {% include "@molecules/blocks/feed-post/_feed-post-master.twig" with
                    {
                        "feed_post_title": feedPost.title, 
                        "feed_post_date_posted": feedPost.date_posted,  
                        "feed_post_source": feedPost.source, 
                        "feed_post_img": {
                            "src": feedPost.img.src,
                            "alt": feedPost.img.alt
                        },
                        "feed_post_href": feedPost.href,
                        "feed_post_comment": feedPost.comment,
                        "feed_post_author": feedPost.author,
                        "feed_post_tags": feedPost.tags
                    }
                %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-master.twig" %}
    {% endblock %}
{% endembed %}
