{% embed "@atoms/layout/layout-site/_layout-site-master.twig" %}
    {% block header %}
        {% embed "@organisms/global/global-header/_global-header-master.twig" %}{% endembed %}
    {% endblock %}

    {% block hero %}
        {% embed "@molecules/blocks/jumbotron/jumbotron.twig" with {'jumbo_id':'portfolio-banner',"jumbo_image_credit": imageCredit} %}
            {% block jumbotron_content %}
                <h1 class="display-3">My Portfolio</h1>
                <p class="lead">See my work in UI/UX design as well as other cool projects.</p>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block main %}
        {% embed "@molecules/navigation/navigation-tabs/_navigation-tabs-master.twig" %}
            {% block projects_content %}
                {% include "@organisms/sections/view-projects/_view-projects-master.twig" with 
                    {
                        "view_project_data": projects
                    }
                %}
            {% endblock %}
            {% block dribbble_content %}
                {% include "@molecules/components/component-dribbble-shots/_component-dribbble-shots-master.twig" %}
            {% endblock %}
            {% block instagram_content %}
                {% include "@molecules/components/component-instagram-posts/_component-instagram-posts-master.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-master.twig" %}
    {% endblock %}
{% endembed %}