{% set hero_section_classes = hero_section_classes|default() %}
{% set hero_section_title = hero_section_title|default() %}

<div class="hero-pl hero--section {{ hero_section_classes }}">
    <div class="hero--section__navigation">
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" with
            {
                "navigation_primary_classes": "navigation--primary--dark",
                "navigation_primary_showhome": true
            }
        %}
        {% include "@molecules/components/component-media-links/_component-media-links-main.twig" %}
    </div>
    <div class="hero--section__content">
        {% include "@atoms/images/image-default/_image-default-main.twig" with 
            {
                "image_default_classes": "hero--section__content__headshot",
                "image_src": headshot.src,
                "image_alt": headshot.alt
            }
        %}
        <h1 class="hero--section__content__title">{{ hero_section_title }}</h1>
        {% block hero_section_content %}
            <div class="hero--section__content__subtitle">
                <span>Design</span>
                <span class="separater">|</span>
                <span>Development</span>
                <span class="separater">|</span>
                <span>Research</span>
            </div>
            {% include "@atoms/button/button-default/_button-default-main.twig" with
                {
                    "button_default_text": "View Resume",
                    "button_default_href": "../assets/Jacob_Caccamo.pdf"
                }
            %}
        {% endblock %}
        <div class="hero--section__content__swipe">
            {% include "@atoms/images/image-default/_image-default-main.twig" with 
                {
                    "image_src": "swipe.svg",
                    "image_alt": "Swipe Icon"
                }
            %}
            <span>Swipe Up</span>
        </div>
    </div>
</div>