.hero--section {
    height: 100vh;
    @include media-breakpoint-up(lg) {
        height: auto;
    }
    &__navigation {
        position: relative;
        .component--media-links {
            z-index: 1;
            display: none;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            z-index: 101;
            .component--media-links__link {
                display: block;
                margin-bottom: 1rem;
                .icon {
                    background: $color-text-body;
                    height: 2rem;
                    border-radius: 100%;
                    padding: .25rem;
                }
            }
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    &__content {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        padding-bottom: 5rem;
        @include media-breakpoint-up(lg) {
            margin: 6rem auto;
            transform: none;
            top: auto;
        }
        &__headshot {
            height: 5rem;
            border-radius: 100%;
            margin-bottom: .5rem;
        }
        &__title {
            font-weight: $fw-black;
            font-size: 4rem;
            padding: 0 1rem;
            margin-bottom: 1rem;
            @include media-breakpoint-up(sm) {
                font-size: 5rem;
                padding: 0;
            }
        }
        &__subtitle {
            display: flex;
            justify-content: space-between;
            max-width: 17.5rem;
            font-size: 1.25rem;
            margin: -1rem auto 1.5rem auto;
            padding: 0 1rem;
            font-size: 1rem;
            @include media-breakpoint-up(sm) {
                max-width: 19.5rem;
                font-size: 1.25rem;
                padding: 0;
                span {
                    display: inline;
                }
            }
        }
        &__swipe {
            margin-top: 3rem;
            @include media-breakpoint-up(lg) {
                display: none;
            }
            span {
                margin-left: 1rem;
            }
        }
    }  
}