{% set component_instagram_posts_classes = component_instagram_posts_classes|default() %}

<div id="instagram_posts" class="component-pl component--instagram-posts {{ component_instagram_posts_classes }}"></div>