.button--default {
    border-radius: 1000px;
    border: 2px solid $color-text-body;
    padding: .5rem 2rem;
    font-weight: $fw-bold;
    color: $color-text-body;
    &:hover,
    &:focus {
        background: $color-text-body;
        color: $white;
        text-decoration: none;
    }
    &--dribbble {
        border: 2px solid $dribbble;
        color: $dribbble;
        &:hover,
        &:focus {
            background: $dribbble;
            border: 2px solid $dribbble;
        }
    }
    &--burger-builder {
        margin-right: .5rem;
        border: 2px solid #BE4F57;
        background: #BE4F57;
        color: $white;
        &:hover,
        &:focus {
            background: $white;
            color: #BE4F57;
        }
    }
}