{% set component_gallery_classes = component_gallery_classes|default() %}

<div class="component-pl component--gallery {{ component_gallery_classes }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
            <div class="col-md-2">
                {% include "@atoms/images/default-image/default-image.twig" with 
                    {
                        "image_src": "splash/s1.png",
                        "image_alt": ""
                    }
                %}
            </div>
        </div>
    </div>
</div>