{% set component_gallery_classes = component_gallery_classes|default() %}
{% set component_gallery_data = component_gallery_data|default() %}

<div class="component-pl component--gallery {{ component_gallery_classes }}">
    <div class="container-fluid">
        <div class="row">
            {% for shot in component_gallery_data %}
                <div class="col-md-2">
                    {% include "@atoms/images/default-image/default-image.twig" with 
                        {
                            "image_src": "splash/s1.png",
                            "image_alt": ""
                        }
                    %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="component--gallery__overlay">
        
    </div>
</div>