.component--gallery {
    height: 100vh;
    width: 100vw;
    @media only screen and (orientation:portrait) {
        max-height: 700px;
    }
    @media screen and (max-aspect-ratio: 8/5) and (orientation:landscape) {
        max-height: 700px;
    }
    position: relative;
    overflow: hidden;
    .container-fluid {
        display: block;
        position: relative;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 110%;
        width: 110%;
        .row {
            height: 100%;
            .col-4 {
                padding: 0;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}