.block--experience {
    padding: 1rem 0;
    &__logo {
        height: 4rem;
        margin-bottom: 1rem;
    }
    &__title,
    &__location {
        line-height: 1rem;
    }
    &__title {
        margin: .5rem 0;
    }
    &__location {
        &__icon {
            display: inline;
            margin-right: .5rem;
        }
    }
    h3 {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: $font-weight-bold;
    }
    p,
    ul,
    li,
    ol {
        max-width: 96ex;
    }
    &.bah {
        .block--experience {
            &__logo {
                max-width: 100%;
                height: auto;
                @include media-breakpoint-up(sm) {
                    height: 3rem;
                    max-width: none;
                }
            }
        }
    }
    &:last-child {
        padding-bottom: 4rem;
    }
}