{% embed "@templates/view-page.twig" %}
    {% block template_hero_content %}
        {% embed "@organisms/heros/hero-generic/_hero-generic-master.twig" with
            {
                'hero_generic_classes': 'hero--generic--ncp',
                'hero_generic_background_src': 'ncp/hero-bg.jpg',
                'hero_generic_background_alt': 'Snowy Forrest'
            }
        %}
            {% block hero_generic_content %}
                <div class="hero--generic__content__inner__text col-md-6">
                    <h1>Natural Color Palette<sup>TM</sup></h1>
                    <span>Collection</span>
                </div>
                <div class="hero--generic__content__inner__img col-md-6">
                    {% include "@atoms/images/image-default/_image-default-master.twig" with
                        {
                            "image_src": "ncp/leopard.png",
                            "image_alt": "Snow Leopard and color swatches"
                        }
                    %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block template_main_content %}
        {% include "@organisms/views/view-shots/_view-shots-master.twig" %}
    {% endblock %}
{% endembed %}