{% set pills = pills|default() %}
{% set pills_classes = pills_classes|default() %}

<div class="pills {{ pills_classes }}">
    {% for pill in pills %}
        {% include "@atoms/button/pill/_pill-master.twig" with
            {
                "pill_text": pill.text,
                "pill_classes": pill.classes,
                "pill_href": pill.href
            }
        %}
    {% endfor %}
</div>