{% set columns = columns|default() %}
{% set columns_classes = columns_classes|default() %}
{% set columns_breakpoint = columns_breakpoint|default() %}

<div class="col-{{ columns_breakpoint }}{% if columns is not empty %}-{{ columns }}{% endif %} {{ columns_classes }}">
    {% block column_content %}{% endblock %}
</div>