/* Fonts */
$font-family-heading: 'Montserrat', sans-serif !default;
$font-family-body: 'Open Sans', 'Roboto', sans-serif !default;

/* Typography */
$fw-medium: 600;
$fw-bold: 700;
$fw-black: 900;

/* Borders */
$border-radius-default: .3125rem;

/* Colors */

/* General */
$white: #ffffff;
$black: #000000;
$dribbble: #EA4C89;

/* Theme */
$color-page-background: #f8fafc;
$color-type-heading: #2f2f2f;
$color-text-body: #454656;
$color-text-link: #1273D4;

$dark-mode-bg: #131415;

$max-width-xl: 1475px;
