{% embed "@templates/view-page.twig" with
    {
        "template_id": "allsafe"
    }
%}
    {% block template_hero_content %}
        {% include "@organisms/heros/hero-allsafe/_hero-allsafe-main.twig" with
            {
                'hero_allsafe_background_src': 'allsafe/maximalfocus-VT4rx775FT4-unsplash.jpg',
                'hero_allsafe_background_alt': 'Abstract Background'
            }
        %}
    {% endblock %}
    {% block template_main_content %}
        <div class="container py-5">
            <h2 class="mt-0">Overview</h2>
            <p>In the summer of 2020, I participated in the <a href="https://unric.org/en/un-competitions-contests-apps-4-digital-peace/">Apps 4 Digital Peace</a> cyber security competition as the UI/UX SME. My role included assessing current market technologies, developing core features and application architectures, and designing the interface of the platform.</p>
            <h2>Teammates</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="teammate col-12 col-sm-6 col-md-3">
                        <div class="teammate__picture">
                            {% include "@atoms/images/image-default/_image-default-main.twig" with
                                {
                                    "image_src": "allsafe/andrew.jpeg",
                                    "image_alt": "Andrew Seligson"
                                }
                            %}
                        </div>
                        <div class="teammate__content">
                            <p><a href="https://www.linkedin.com/in/andrew-seligson/">Andrew Seligson</a></p>
                        </div>
                    </div>
                    <div class="teammate col-12 col-sm-6 col-md-3">
                        <div class="teammate__picture">
                            {% include "@atoms/images/image-default/_image-default-main.twig" with
                                {
                                    "image_src": "allsafe/jackie.jpeg",
                                    "image_alt": "Jackie Faselt"
                                }
                            %}
                        </div>
                        <div class="teammate__content">
                            <p><a href="https://www.linkedin.com/in/jackie-faselt-3370b9ab/">Jackie Faselt</a></p>
                        </div>
                    </div>
                    <div class="teammate col-12 col-sm-6 col-md-3">
                        <div class="teammate__picture">
                            {% include "@atoms/images/image-default/_image-default-main.twig" with
                                {
                                    "image_src": "allsafe/jerome.jpeg",
                                    "image_alt": "Jérôme Nicolaï"
                                }
                            %}
                        </div>
                        <div class="teammate__content">
                            <p><a href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-nicola%C3%AF-64671a103/">Jérôme Nicolaï</a></p>
                        </div>
                    </div>
                    <div class="teammate col-12 col-sm-6 col-md-3">
                        <div class="teammate__picture">
                            {% include "@atoms/images/image-default/_image-default-main.twig" with
                                {
                                    "image_src": "allsafe/puneet.jpeg",
                                    "image_alt": "Puneet Singh"
                                }
                            %}
                        </div>
                        <div class="teammate__content">
                            <p><a href="https://www.linkedin.com/in/sudosingh/">Puneet Singh</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Project Brief</h2>
            <blockquote>"Apps 4 Digital Peace, sponsored by the Cybersecurity Tech Accord, the UN Office of Disarmament Affairs (UNODA),  and the UN Office of the Envoy on Youth, is intended to bring together young innovators and leaders from the technology and policy communities to address the urgent need to improve cybersecurity and reduce tensions between nations online. Its goal is to develop original technology-based solutions, such as mobile applications, to both help limit the use of the internet as a domain of conflict, and to increase the stability of our online environment."</blockquote>
            {% include "@atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_src": "allsafe/ceremony.jpg",
                    "image_alt": "Apps 4 Digital Peace Poster"
                }
            %}
            <h2>Our Pitch</h2>
            <p>The United Nations has identified its strategic ends in cyberspace: for all nations and actors to respect and uphold international cyber norms in a peaceful and respectful manner. However, threat actors, ranging from nation states to private entities continue to undermine these norms, causing harm and leading to decreased stability in cyberspace. While states and large corporations have the budget and capacity to protect themselves if they so prioritize, smaller businesses and individuals are left out.</p>
            <p>Our platform, AllSafe, is a tool that will democratize access to actionable cyber threat intelligence. It is a free cyber threat intelligence platform (TIP) that is built to be accessible to users without specialized cybersecurity experience.</p>
            <h2>The Result</h2>
            <p>We were thrilled that our proposed platform <a href="https://cybertechaccord.org/meet-the-young-innovators-of-first-ever-apps-4-digital-peace-competition/">Allsafe won first place in the competition.</a> Following are the high fidelity screens for the platform. Specifics about the screens are omitted due to potential future plans for Allsafe.</p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h3>Onboarding Screen Example 1</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/1.png",
                                "image_alt": "Onboarding Screen Example 1"
                            }
                        %}
                    </div>
                    <div class="col-12">
                        <h3>Onboarding Screen Example 2</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/2.png",
                                "image_alt": "Onboarding Screen Example 2"
                            }
                        %}
                    </div>
                    <div class="col-12">
                        <h3>Allsafe Monitoring Dashboard</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/3.png",
                                "image_alt": "Allsafe Monitoring Dashboard"
                            }
                        %}
                    </div>
                    <div class="col-12">
                        <h3>Threat Details Screen</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/4.png",
                                "image_alt": "Threat Details Screen"
                            }
                        %}
                    </div>
                    <div class="col-12">
                        <h3>Sample Take Action Page</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/5.png",
                                "image_alt": "Sample Take Action Page"
                            }
                        %}
                    </div>
                    <div class="col-12">
                        <h3>Learning Library</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/6.png",
                                "image_alt": "Learning Library"
                            }
                        %}
                    </div>
                    <div class="col-12">
                        <h3>Learning Library Video Player</h3>
                        {% include "@atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_src": "allsafe/7.png",
                                "image_alt": "Learning Library Video Player"
                            }
                        %}
                    </div>
                </div>
            </div>
            <p class="text-center my-4">Stay tuned for more updates on Allsafe :)</p>
            {% include "@atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_src": "allsafe/Credits.png",
                    "image_alt": "Allsafe Team - Jacob Caccamo, Andrew Seligson, Puneet Singh, Jackie Faselt, Jérôme Nicolaï"
                }
            %}
        </div>
    {% endblock %}
{% endembed %}