#allsafe {
    .layout--site__body__main {
        .col-md-6 {
            padding: 2rem;
        }
        .image--default {
            max-width: 100%;
        }
        img {
            margin: 1.5rem 0;
        }
        blockquote {
            border-left: 0.125rem solid #74FBD8;
            padding: 1rem 0 1rem 2rem;
        }
        a {
            border-bottom: .0625rem solid #777;
            &:hover,
            &:focus {
                text-decoration: none;
                border-bottom: .0625rem solid transparent;
            }
        }
        .container {
            .container-fluid {
                padding: 0;
                margin: 0;
                .row {
                    padding: 0;
                    margin: 0;
                    .col-12 {
                        padding: 0;
                        margin: 0;
                        h3 {
                            margin-top: 2rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .teammate {
        &__picture {
            margin: 0 auto;
            height: 4.35rem;
            width: 4.35rem;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(131,124,247);
            background: -moz-linear-gradient(0deg, rgba(131,124,247,1) 0%, rgba(107,214,248,1) 56%, rgba(116,251,216,1) 81%);
            background: -webkit-linear-gradient(0deg, rgba(131,124,247,1) 0%, rgba(107,214,248,1) 56%, rgba(116,251,216,1) 81%);
            background: linear-gradient(0deg, rgba(131,124,247,1) 0%, rgba(107,214,248,1) 56%, rgba(116,251,216,1) 81%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#837cf7",endColorstr="#74fbd8",GradientType=1);
            img {
                margin: 0 auto;
                display: block;
                max-width: 100%;
                height: 4rem;
                width: 4rem;
                border-radius: 100%;
            }
        }
        &__content {
            margin-top: .5rem;
            text-align: center;
        }
    }
}