{% embed "@templates/view-page.twig" %}
    {% block template_hero_content %}
        
    {% endblock %}
    {% block template_main_content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>Project Brief</h2>
                    <p>In the summer of 2020, I participated in the Apps 4 Digital Peace cyber security competition. The competition brief stated:</p>
                    <blockquote>"Apps 4 Digital Peace, sponsored by the Cybersecurity Tech Accord, the UN Office of Disarmament Affairs (UNODA),  and the UN Office of the Envoy on Youth, is intended to bring together young innovators and leaders from the technology and policy communities to address the urgent need to improve cybersecurity and reduce tensions between nations online. Its goal is to develop original technology-based solutions, such as mobile applications, to both help limit the use of the internet as a domain of conflict, and to increase the stability of our online environment."</blockquote>
                    <h2>Our Pitch</h2>
                    <p>The United Nations has identified its strategic ends in cyberspace: for all nations and actors to respect and uphold international cyber norms in a peaceful and respectful manner. However, threat actors, ranging from nation states to private entities continue to undermine these norms, causing harm and leading to decreased stability in cyberspace. While states and large corporations have the budget and capacity to protect themselves if they so prioritize, smaller businesses and individuals are left out.</p>
                    <p>Our platform, AllSafe, is a tool that will democratize access to actionable cyber threat intelligence. It is a free cyber threat intelligence platform (TIP) that is built to be accessible to users without specialized cybersecurity experience.</p>
                    
                    
                    <hr>
                    <h2>Methods</h2>
                    <p>In an attempt to cater best to our users and their needs, our team conducted the following activities from the User Centered Design toolkit:</p>
                    <ul>
                        <li>User Journey Maps</li>
                        <li>Comparative Analysis</li>
                        <li>Wireframing</li>
                        <li>High Fidelity Visual Design</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}