<div class="overview container">
    <div class="row">
        {% block overview %}{% endblock %}
    </div>
</div>
<div class="quote container-fluid">
    <div class="row">
        <div class="col-12">
            {% block quote %}{% endblock %}
        </div>
    </div>
</div>
<div class="cards container">
    {% block cards %}{% endblock %}
</div>
<div class="featured-portfolio-piece">
    {% block featured %}{% endblock %}
</div>
<div class="feed">
    {% block feed %}{% endblock %}
</div>