<div class="overview container">
    <div class="row">
        {% block overview %}{% endblock %}
    </div>
</div>
<div class="quote container-fluid">
    <div class="row">
        <div class="col-12">
            {% block quote %}{% endblock %}
        </div>
    </div>
</div>
<div class="cards container">
    {% block cards %}{% endblock %}
</div>
<div class="featured-portfolio-piece">
    {% block featured %}{% endblock %}
</div>
<div class="feed">
    <div class="container">
        <h2>The Feed</h2>
        <h3 class="mt-3">Huh?</h3>
        <p><a href="feed.html">The Feed</a> is a page I created to post interesting articles about a collection of topics ranging from design to emerging technology. I try to update it frequently, so be sure to check the feed again!</p>
        <h3 class="mt-3">Latest Post from The Feed</h3>
        {% block feed %}{% endblock %}
</div>