 {% set project_img_src = project_img_src|default() %}
 {% set project_img_alt = project_img_alt|default() %}
 {% set project_title = project_title|default() %}
 {% set project_context = project_context|default() %}
 {% set project_btn_text = project_btn_text|default() %}
 {% set project_btn_href = project_btn_href|default() %}
 {% set project_btn_classes = project_btn_classes|default() %}
 {% set project_classes = project_classes|default() %}
 
 <div class="project {{ project_classes }}">
    <div class="image-wrapper">
        {% include "@atoms/images/default-image/default-image.twig" with
            {
                "image_src": project_img_src,
                "image_alt": project_img_alt,
                "image_style": "project-image"
            }
        %}
    </div>
    <h2>{{ project_title }}</h2>
    <p>{{ project_context }}</p>
    <a href="{{ project_btn_href }}">
        {% include "@atoms/button/primary/primary.twig" with
            {
                "btn_href": project_btn_href,
                "btn_text": project_btn_text,
                "btn_classes": project_btn_classes
            }
        %}
    </a>
</div>