.project {
    text-align: center;
    @extend .mb-5;

    .image-wrapper {
        @include md-2dp;
        @extend .hoverable;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-height: 300px;
        width: 80%;
        height: 40vh;
        @extend .mx-auto;
        @extend .mb-3;

        .project-image {
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
            width: 300px;
            @include md-0dp;
        }
    }

    .project-tags {
        @extend .mt-3;

        .tag-title {
            font-size: 1rem;
        }
    }
}