.section--default--allsafe {
    position: relative;
    background: $dark-mode-bg;
    .section--default__content {
        @include media-breakpoint-up(md) {
            padding-left: 3rem !important;
        }
        button {
            @extend .button--default;
            color: $white;
            border-color: $white;
            background: gray;
            cursor: not-allowed;
            &:hover,
            &:focus {
                color: $white !important;
                background: gray !important;
            }
        }
    }
    .section--default__image {
        padding: 0 3rem !important;
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        img {
            max-width: 100%;
            width: 32rem;
            margin: 0 auto;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }
    >.row {
        padding: 2rem 8rem 2rem 8rem !important;
    }
    &__title,
    p {
        color: $white;
    }
    &__button {
        text-align: center;
        margin: 2rem 0;
        .button--default {
            color: $white;
            border-color: $white;
            &:hover,
            &:focus {
                background: $white;
                color: $dark-mode-bg;
            }
        }
    }
}

#layout--portfolio {
    .section--default--allsafe {
        margin: 5rem 0 !important;
        &:before {
            content: "";
            background-image: linear-gradient(to right bottom, $dark-mode-bg 50%, $dark-mode-bg 50%, transparent 51%);
            position: absolute;
            width: 100%;
            height: 5rem;
            bottom: -5rem;
            left: 0;
        }
        &:after {
            content: "";
            background-image: linear-gradient(to right top, $dark-mode-bg 0%, $dark-mode-bg 50%, transparent 51%);
            position: absolute;
            width: 100%;
            height: 5rem;
            top: -5rem;
            left: 0;
        }
    }
}

#layout--index {
    .section--default--allsafe {
        &:before {
            content: "";
            background-image: linear-gradient(to left top, $dark-mode-bg 50%, $dark-mode-bg 50%, transparent 51%);
            position: absolute;
            width: 100%;
            height: 5rem;
            top: -5rem;
            left: 0;
        }
        &:after {
            content: "";
            background-image: linear-gradient(to left bottom, $dark-mode-bg 0%, $dark-mode-bg 50%, transparent 51%);
            position: absolute;
            width: 100%;
            height: 5rem;
            bottom: -5rem;
            left: 0;
        }
    }
}