.component--content-menu {
    padding: 1rem;
    .accordion {
        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0;
            background: transparent;
            margin: .5rem 0;
            width: 100%;
            text-align: left;
            img {
                height: 1rem;
            }
            &[aria-expanded="true"] {
                img {
                    transform: rotate(90deg);
                }
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin: .5rem 0;
            li {
                padding: .25rem 0;
            }
        }
    }
}