.headshot {
    @extend .my-4;
    
    .home-headshot {
        @extend .img-thumbnail;
        @extend .mx-auto;
        @extend .my-auto;
        min-height: 300px;
        max-height: 500px;
        height: 40vh;
        width: auto;
    }
}