{% set cards_data = cards_data|default() %}
{% set cards_style = cards_style|default() %}

<div class="cards {{ cards_style }}">
    {% for card in cards_data %}
        <div class="col-sm">
            {% include "@molecules/blocks/card/_card-master.twig" with 
                {
                    "card_style": card.style,
                    "card_title": card.title,
                    "card_text": card.text,
                    "card_img_src": card.img.src,
                    "card_img_alt": card.img.alt,
                    "card_btn_text": card.btn_text,
                    "card_btn_href": card.btn_href
                }
            %}
        </div>
    {% endfor %}
</div>