<footer class="global-pl global--footer">
    <div class="container-fluid">
        <div class="row">
            <div class="global--footer__menu col-md-3">
                {% include "@molecules/navigation/navigation-primary/_navigation-primary-master.twig" with
                    {
                        "navigation_primary_showhome": true
                    }
                %}
            </div>
            <div class="col-md-6">
                {% include "@molecules/components/component-media-links/_component-media-links-master.twig" %}
            </div>
            <div class="col-md-3">
                {% include "@atoms/images/image-logo/_image-logo-master.twig" %}
            </div>
        </div>
    </div>
</footer>