.global--footer {
    -webkit-box-shadow: 0px -8px 10px -5px rgba(0, 0, 0, 0.2),
    0px -16px 24px 2px rgba(0, 0, 0, 0.14),
    0px -6px 30px 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px -8px 10px -5px rgba(0, 0, 0, 0.2),
    0px -16px 24px 2px rgba(0, 0, 0, 0.14),
    0px -6px 30px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px -8px 10px -5px rgba(0, 0, 0, 0.2),
    0px -16px 24px 2px rgba(0, 0, 0, 0.14),
    0px -6px 30px 5px rgba(0, 0, 0, 0.12);
    background: $dark-mode-bg;
    position: relative;
    z-index: 1;
    > .container-fluid {
        > .row {
            margin: 0 auto;
            max-width: $max-width-xl;
        }
    }
    .col-md-3 {
        padding: 2rem;
        @include media-breakpoint-up(md) {
            padding: 3rem;
        }
    }
    .navigation--primary {
        display: block;
        padding: 0;
        @include media-breakpoint-up(md) {
            padding: 2rem;
        }
        &__links {
            .link--default {
                font-size: .8rem;
                display: block;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
        &__home {
            font-size: 1.4rem !important;
            margin-bottom: 1.5rem;
        }
    }
    .col-md-6 {
        padding: 0;
        @include media-breakpoint-up(md) {
            padding: 0 15px;
        }
        .component--media-links {
            max-width: 900px;
            margin: 0 auto;
            &__link {
                height: 5rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 3rem;
                }
                &--dribbble {
                    background: #EA4C89;
                }
                &--instagram {
                    background: url('../assets/instagram-bg-hr.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    @include media-breakpoint-up(md) {
                        background: url('../assets/instagram-bg.png');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                }
                &--linkedin {
                    background: #2867B2;
                }
                &--github {
                    background: #24292E;
                }
                &--behance {
                    background: #0057FF;
                }
                &--gmail {
                    background: #D44638;
                }
            }
            @include media-breakpoint-up(md) {
                height: 100%;
                display: flex;
                &__link {
                    height: 100%;
                    display: inline-flex;
                    flex: 1 1 16.6666666667%;
                    width: 5rem;
                    transform: skew(-12deg);
                    margin-left: -4px;
                    img {
                        transform: skew(12deg);
                    }
                }
            }
        }
    }
    .image--logo {
        margin: 0 auto;
        display: block;
        @include media-breakpoint-up(md) {
            position: absolute;
            bottom: 3rem;
            right: 3rem;
        }
    }
}