{% set section_lists_classes = section_lists_classes|default() %}
{% set section_lists_data = section_lists_data|default() %}
{% set section_lists_title = section_lists_title|default() %}

<div class="section section--lists {{ section_lists_classes }} row">
    {% if section_lists_title is not empty %}
        <h3 class="section--lists__title">{{ section_lists_title }}</h3>
    {% endif %}
    {% for item in section_lists_data %}
        {% include "@molecules/text/complex-text-list/_complex-text-list-main.twig" with
            {
                "complex_text_list_title": item.title,
                "complex_text_list_type": item.type,
                "complex_text_list_data": item.data
            }
        %}
    {% endfor %}
</div>