{% set block_experience_classes = block_experience_classes|default() %}
{% set block_experience_company_logo_src = block_experience_company_logo_src|default() %}
{% set block_experience_company_logo_alt = block_experience_company_logo_alt|default() %}
{% set block_experience_company_name = block_experience_company_name|default() %}
{% set block_experience_company_title = block_experience_company_title|default() %}
{% set block_experience_company_location = block_experience_company_location|default() %}

<div class="block-pl block--experience {{ block_experience_classes }}">
    {% include "@atoms/images/image-default/_image-default-main.twig" with
        {
            "image_default_classes": "block--experience__logo",
            "image_src": block_experience_company_logo_src,
            "image_alt": block_experience_company_logo_alt
        }
    %}
    <h2 class="sr-only">{{ block_experience_company_name }}</h2>
    <p class="block--experience__title">{{ block_experience_company_title }}</p>
    <p class="block--experience__location">
        {% include "@atoms/images/image-default/_image-default-main.twig" with
            {
                "image_default_classes": "block--experience__location__icon",
                "image_src": 'experience/location.svg',
                "image_alt": "Location Marker Icon"
            }
        %}{{ block_experience_company_location }}
    </p>
    {% block block_experience_company_description %}{% endblock %}
</div>