{% set navigation_mobile_classes = navigation_mobile_classes|default() %}

<div class="navigation-pl navigation--mobile {{ navigation_mobile_classes }}">
    <div class="navigation--mobile__inner-wrapper">
        <button class="navigation--mobile__menu-button">
            {% include "@atoms/images/image-default/_image-default-master.twig" with
                {
                    "image_src": "icons/menu.svg",
                    "image_alt": "Main Menu"
                }
            %}
        </button>
        <a href="/portfolio" class="navigation--mobile__link navigation--mobile__link--1">
            {% include "@atoms/images/image-default/_image-default-master.twig" with
                {
                    "image_src": "icons/portfolio.svg",
                    "image_alt": "Portfolio"
                }
            %}
        </a>
        <a href="/experience" class="navigation--mobile__link navigation--mobile__link--2">
            {% include "@atoms/images/image-default/_image-default-master.twig" with
                {
                    "image_src": "icons/experience.svg",
                    "image_alt": "Experience"
                }
            %}
        </a>
        <a href="/" class="navigation--mobile__link navigation--mobile__link--3">
            {% include "@atoms/images/image-default/_image-default-master.twig" with
                {
                    "image_src": "icons/home.svg",
                    "image_alt": "Home"
                }
            %}
        </a>
        <a href="/education" class="navigation--mobile__link navigation--mobile__link--4">
            {% include "@atoms/images/image-default/_image-default-master.twig" with
                {
                    "image_src": "icons/education.svg",
                    "image_alt": "Education"
                }
            %}
        </a>
        <span class="navigation--mobile__link navigation--mobile__link--5" href="#">
            {% include "@atoms/images/image-default/_image-default-master.twig" with
                {
                    "image_src": "icons/skills.svg",
                    "image_alt": "Skills"
                }
            %}
        </span>
    </div>
</div>