.navigation--mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    background: $color-text-body;
    display: block;
    width: 100vw;
    z-index: 1000;
    @include media-breakpoint-up(sm) {
        display: none;
    }
    &__links {
        list-style: none;
        height: 4.5rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        &__link {
            flex: 1;
            padding: 0;
            margin: 0;
            a {
                color: $white;
                display: block;
                height: 100%;
                width: 100%;
                padding: .5rem 0;
                text-align: center;
                .image--default {
                    width: 2rem;
                }
                span {
                    display: block;
                    font-size: .75rem;
                    line-height: 1.9;
                }
                @include media-breakpoint-down('xxs') {
                    .image--default {
                        width: 1.5rem;
                    }
                    span {
                        font-size: .5rem;
                    }
                }
            }
            &:hover,
            &:focus {
                background: #111;
            }
            &.active {
                background: #2f2f2f;
            }
        }
    }
}