.block--activities {
    margin-bottom: 3rem;
    &__activity-logo {
        height: 10vh;
        display: block;
        @include md-0dp;
        margin: 1rem auto;
    }
    .col-12 {
        @include media-breakpoint-up(lg) {
            padding: 0 2rem;
        }
    }
}