{% set layout_site_classes = layout_site_classes|default() %}
{% set layout_site_id = layout_site_id|default() %}

<div {% if layout_site_id is not empty %}id="{{ layout_site_id }}"{% endif %} class="layout-pl layout--site {{ layout_site_classes }}">
    {% block header %}{% endblock %}
    <div class="layout--site__body">
        {% block hero %}{% endblock %}
        <div class="layout--site__body__main">
            {% block main %}{% endblock %}
        </div>
    </div>
    {% block footer %}{% endblock %}
    {% include "@molecules/navigation/navigation-mobile/_navigation-mobile-master.twig" %}
</div>