{% set block_featured_classes = block_featured_classes|default() %}
{% set block_featured_img = block_featured_img|default() %}

<div class="block-pl block--featured-item container {{ block_featured_classes }}">
    <h2 class="title">Featured Portfolio Piece</h2>
    <div class="row">
        {% for img in featured_img %}
            <div class="col-sm-6 col-md-3">
                {% include "@atoms/images/image-default/_image-default-master.twig" with
                    {
                        "image_src": img.src,
                        "image_alt": img.alt,
                        "image_style": img.style
                    }
                %}
            </div>
        {% endfor %}
        <div class="description col-sm-12 col-md-6">
            <p class="text-left px-3">My friend Michael Jacob is an aspiring rapper under the stage name MJx. He needed a website designed and developed for his music career and I offered to help him out. So far, I've completed the Music and About pages. Here are a few shots (Home, Music) from the mobile design concept. Click below to view the live site.</p>
            {% include "@atoms/button/primary/primary.twig" with
                {
                    "btn_href": "http://mjxofficial.com/",
                    "btn_text": "View Project"
                }
            %}
        </div>
    </div>
</div>