{% set component_dribbble_shots_classes = component_dribbble_shots_classes|default() %}

<div  class="component-pl component--dribbble-shots {{ component_dribbble_shots_classes }}">
    <div id="shots" class="row"></div>
    {% include "@atoms/button/button-default/_button-default-master.twig" with
        {
            "button_default_classes": "button--default--dribbble",
            "button_default_text": "Visit My Dribbble",
            "button_default_href": "https://dribbble.com/jacobcaccamo"
        }
    %}
</div>