.component--dribbble-shots {
    padding: 1rem;
    @extend .container-fluid;

    .shot {
        padding: 1rem;
        img {
            display: block;
            max-width: 100%;
        }
    }
}