.posterboard {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: white;
    border-radius: 0px;
    overflow: hidden;
    top: 10000px;
    @include md-24dp;

    @include media-breakpoint-up(md) {
        width: 85vw;
        border-radius: 30px;
    }
}