<div class="default">
    <div class="header">
        {% block header %}{% endblock %}
    </div>
    <div class="body">
        {% block hero %}{% endblock %}
        {% block main %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</div>