{% set projects_data = projects_data|default() %}
{% set projects_classes = projects_classes|default() %}

<div class="projects row {{ projects_classes }}">
    {% for project in projects_data %}
        {% include "@molecules/blocks/project/_project-master.twig" with 
            {
                "project_img_src": project.img_src,
                "project_img_alt": project.img_alt,
                "project_title": project.title,
                "project_context": project.context,
                "project_btn_text": project.btn_text,
                "project_btn_href": project.btn_href,
                "project_btn_classes": project.btn_classes,
                "project_classes": "col-lg-6",
                "project_tags": project.tags
            }
        %}
    {% endfor %}
</div>