{% set component_scroll_classes = component_scroll_classes|default() %}

<div class="component-pl component--scroll {{ component_scroll_classes }}">
    <div class="component--scroll__mouse"></div>
    <div class="component--scroll__wrapper">
        <div class="component--scroll__wrapper__arrow"></div>
    </div>
    {#<div class="component--scroll__text">
        <span class="component--scroll__text__top">Scroll</span>
        <span class="component--scroll__text__bottom">For More</span>
    </div>#}
</div>