/* Fonts */
$font-family-heading: 'Montserrat', sans-serif !default;
$font-family-body: 'Open Sans', 'Roboto', sans-serif !default;

/* Typography */
$fw-medium: 600;
$fw-bold: 700;
$fw-black: 900;

/* Borders */
$border-radius-default: .3125rem;

/* Colors */

/* General */
$white: #ffffff;
$black: #000000;
$dribbble: #EA4C89;

/* Theme */
$color-text-body: #454656;
$color-text-link: #20558a;

$dark-mode-bg: #131415;

$max-width-xl: 1475px;
