{% set section_stages_classes = section_stages_classes|default() %}
{% set section_stages_data = section_stages_data|default() %}

<div class="section section--stages {{ section_stages_classes }} row">
    <div class="col-md-12 text-center">
        <h2 class="w-100 mt-5 mb-3">My Design Process</h2>
    </div>
    {% for stage in section_stages_data %}
        {% include "@molecules/blocks/block-stage/_block-stage-master.twig" with
            {
                "block_stage_img_src": stage.img_src,
                "block_stage_img_alt": stage.img_alt,
                "block_stage_description": stage.description
            }
        %}
    {% endfor %}
</div>