<nav class="navbar navbar-expand-md navbar-light custom-toggler md-whiteframe-4dp">
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-text">&nbsp;</span>
    {% include "@atoms/link/link.twig" with
        {
            "link_href": "index.html",
            "link_classes": "navbar-brand text-white",
            "link_text": "Jacob Caccamo"
        }
    %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% include "@atoms/link/link.twig" with
                {
                    "link_href": "portfolio.html",
                    "link_classes": "nav-item nav-link text-white",
                    "link_text": "Portfolio"
                }
            %}
            {% include "@atoms/link/link.twig" with
                {
                    "link_href": "experience.html",
                    "link_classes": "nav-item nav-link text-white",
                    "link_text": "Experience"
                }
            %}
            {% include "@atoms/link/link.twig" with
                {
                    "link_href": "education.html",
                    "link_classes": "nav-item nav-link text-white",
                    "link_text": "Education"
                }
            %}
            {% include "@atoms/link/link.twig" with
                {
                    "link_href": "skills.html",
                    "link_classes": "nav-item nav-link text-white",
                    "link_text": "Skills"
                }
            %}
            {% include "@atoms/link/link.twig" with
                {
                    "link_href": "feed.html",
                    "link_classes": "nav-item nav-link text-white",
                    "link_text": "The Feed"
                }
            %}
        </div>
    </div>
</nav>