.section--default--marvel {
    &__logo {
        height: 3rem;
    }
    &__title {
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 0;
    }
    .section--default__image {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 1rem 0 4rem 0;
        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }
    &__shots {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        .block--images {
            &__image {
                opacity: 0;
                transform: translateY(1rem);
                transition: .75s;
                &--1 {
                    margin-left: 0;
                    z-index: 6;
                    img {
                        height: 20rem;
                        @include media-breakpoint-up(md) {
                            height: 24rem;
                        }
                    }
                }
                &--2 {
                    margin-left: -7rem;
                    @include media-breakpoint-up(md) {
                        margin-left: -8rem;
                    }
                    z-index: 5;
                    img {
                        height: 18rem;
                        @include media-breakpoint-up(md) {
                            height: 22rem;
                        }
                    }
                }
                &--3 {
                    margin-left: -6rem;
                    @include media-breakpoint-up(md) {
                        margin-left: -7rem;
                    }
                    z-index: 4;
                    img {
                        height: 16rem;
                        @include media-breakpoint-up(md) {
                            height: 20rem;
                        }
                    }
                }
                &--4 {
                    margin-left: -5rem;
                    @include media-breakpoint-up(md) {
                        margin-left: -6rem;
                    }
                    z-index: 3;
                    img {
                        height: 14rem;
                        @include media-breakpoint-up(md) {
                            height: 18rem;
                        }
                    }
                }
                &--5 {
                    margin-left: -4rem;
                    @include media-breakpoint-up(md) {
                        margin-left: -5rem;
                    }
                    z-index: 2;
                    img {
                        height: 12rem;
                        @include media-breakpoint-up(md) {
                            height: 16rem;
                        }
                    }
                }
                &--6 {
                    margin-left: -3rem;
                    @include media-breakpoint-up(md) {
                        margin-left: -4rem;
                    }
                    z-index: 1;
                    img {
                        height: 10rem;
                        @include media-breakpoint-up(md) {
                            height: 14rem;
                        }
                    }
                }
            }
        }
    }
    &__button {
        text-align: center;
        margin: 2rem 0;
    }
}