<div class="posterboard">
    <div class="header">
        {% block header %}{% endblock %}
    </div>
    <div class="body">
        {% block hero %}{% endblock %}
        {% block main %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</div>