{% set section_cards_classes = section_cards_classes|default() %}
{% set section_cards_data = section_cards_data|default() %}

<div class="section-pl section--cards row {{ section_cards_classes }}">
    {% for card in section_cards_data %}
        <div class="col-sm col-md-3">
            {% include "@molecules/blocks/block-site-section/_block-site-section-main.twig" with
                {
                    "block_site_section_title": card.title,
                    "block_site_section_img_src": card.img.src,
                    "block_site_section_img_alt": card.img.alt,
                    "block_site_section_href": card.href,
                    "block_site_section_text": card.text
                }
            %}
        </div>
    {% endfor %}
</div>