{% set hero_portfolio_classes = hero_portfolio_classes|default() %}

<div class="hero-pl hero--portfolio {{ hero_portfolio_classes }}">
    <div class="hero--portfolio__navigation">
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-master.twig" with
            {
                "navigation_primary_classes": "navigation--primary--dark",
                "navigation_primary_showhome": true
            }
        %}
        {% include "@molecules/components/component-media-links/_component-media-links-master.twig" %}
    </div>
    <div class="hero--portfolio__content">
        {% include "@atoms/images/image-default/_image-default-master.twig" with 
            {
                "image_default_classes": "hero--portfolio__content__headshot",
                "image_src": headshot.src,
                "image_alt": headshot.alt
            }
        %}
        <h1 class="hero--portfolio__content__title">Portfolio</h1>
        <div class="hero--portfolio__content__subtitle">
            <span>Design</span>
            <span class="separater">|</span>
            <span>Development</span>
            <span class="separater">|</span>
            <span>Research</span>
        </div>
    </div>
</div>