{% set featured_style = featured_style|default() %}
{% set featured_img = featured_img|default() %}

<div class="featured-item container {{ featured_style }}">
    <h2 class="title">Featured Portfolio Piece</h2>
    <div class="row">
        {% for img in featured_img %}
            {% embed "@atoms/layout/_column.twig" with {"columns": 12, "columns_classes": "col-sm-6 col-md-3"} %}
                {% block column_content %}
                    {% include "@atoms/images/default-image/default-image.twig" with
                        {
                            "image_src": img.src,
                            "image_alt": img.alt,
                            "image_style": img.style
                        }
                    %}
                {% endblock %}
            {% endembed %}
        {% endfor %}
        {% embed "@atoms/layout/_column.twig" with {"columns": 12, "columns_classes": "description col-sm-12 col-md-6"} %}
            {% block column_content %}
                <p class="text-left px-3">My friend Michael Jacob is an aspiring rapper under the stage name MJx. He needed a website designed and developed for his music career and I offered to help him out. So far, I've completed the Music and About pages. Here are a few shots (Home, Music) from the mobile design concept. Click below to view the live site.</p>
                <a href="http://mjxofficial.com/" class="btn btn-primary md-whiteframe-2dp">View Project</a>
            {% endblock %}
        {% endembed %}
    </div>
</div>