#banner {
    background-image: url(../project_assets/Gardening_Background@3x.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
