.posterboard-background {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: -5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

.home-background {
    background-image: url('../assets/index/trevor-wilson-44346-unsplash.jpg');
}