{% set component_logo_classes = component_logo_classes|default() %}

<div class="component-pl component--logo {{ component_logo_classes }}">
    <div id="component--logo__circle" class="component--logo__circle">
        <div class="component--logo__circle__icon">
            <div class="component--logo__circle__icon__top"></div>
            <div class="component--logo__circle__icon__bottom"></div>
            <div class="component--logo__circle__icon__left"></div>
            <div class="component--logo__circle__icon__text"><span>D</span><span>E</span><span>S</span><span>I</span><span>G</span><span>N</span><span>S</span></div>
        </div>
    </div>
</div>