{% set jumbo_classes = jumbo_classes|default('') %}
{% set jumbo_id = jumbo_id|default('') %}
{% set jumbo_overlay_id = jumbo_overlay_id|default('') %}
{% set jumbo_image_credit = jumbo_image_credit|default('') %}

<div class="jumbotron-fluid">
    <div class="jumbotron-image" id="{{ jumbo_id }}"></div>
    <div class="container-fluid" id="{{ jumbo_overlay_id }}">
        {% block jumbotron_content %}{% endblock %}
        {% include "@atoms/button/image-credit/_image-credit-master.twig" with
            {
                "image_credit_name": jumbo_image_credit.name,
                "image_credit_href": jumbo_image_credit.href
            }
        %}
    </div>
    {% include "@molecules/blocks/particles/particles.twig" %}
</div>
        
        