{% embed "@organisms/sections/section-default/_section-default-master.twig" with
    {
        "section_default_image_src": "index/ncp.png",
        "section_default_image_orientation": "left"
    }
%}
    {% block section_default_content %}
        <h2>Natural Inspiration.</h2>
        <p>Beautiful color palettes, or collections of colors that work well together, can be found almost anywhere in the world. In my Natural Color Palette collection, I explore various color palettes derived from beatiful Unsplash photography, and a few of my more modest shots. These palettes can be found</p>
    {% endblock %}
{% endembed %}