<form class="component-pl component--contact-form" id="contactUsForm" action="https://formspree.io/xrgyqezy" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="first_name">First Name</label>
            <input class="form-control" id="first_name" type="text" name="first_name">
        </div>
        <div class="form-group col-md-6">
            <label for="last_name">Last Name</label>
            <input class="form-control" id="last_name" type="text" name="last_name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email">
        </div>
        <div class="form-group col-md-6">
            <label for="phone">Phone</label>
            <input class="form-control" id="phone" type="text" name="phone">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message"></textarea>
        </div>
    </div>
    <button class="component--contact-form__button" type="submit">Submit</button>
</form>