html,
body {
    font-family: $font-family-body;
    font-weight: $font-weight-regular;
    color: $color-text-body;
    font-size: $font-size-default;
    line-height: $line-height-regular;
    background: $color-page-background;
}

// *,
// *:before,
// *:after {
//   -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//           box-sizing: border-box;
// }