h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-type-heading;
    font-family: $font-family-heading;
    font-weight: 400;
}

a {
    color: $color-text-link;
}

a,
p {
    letter-spacing: 0.01rem;
    line-height: 2.2;
}

ul {
    li {
        padding: .25rem 0;
        ul {
            padding-top: .25rem;
        }
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.4rem;
}