{% embed "@templates/view-page.twig" with
    {
        "template_id": "portfolio--vgs"
    }
%}
    {% block template_hero_content %}
        {% embed "@organisms/heros/hero-generic/_hero-generic-main.twig" with
            {
                'hero_generic_classes': 'hero--generic--vgs',
                "hero_generic_show_media_links": 'false',
                'hero_generic_navigation_classes': "navigation--primary--dark"
            }
        %}
            {% block hero_generic_content %}
                {% embed "@organisms/sections/section-default/_section-default-main.twig" with
                    {
                        "section_default_classes": "section--default--vgs",
                        "section_default_image_src": "vgs/vgs--featured.png",
                        "section_default_image_alt": "Xbox with Different Video Game Characters",
                        "section_default_image_orientation": "right"
                    }
                %}
                    {% block section_default_content %}
                        <div class="section--default--vgs__inner">
                            <h2 class="section--default--vgs__title"><span class="section--default--vgs__title__1">Video Game</span><br><span class="section--default--vgs__title__2">Website Series</span></h2>
                            <p>My love of video games led me to create a series of website concepts for my favorite games. What started as a small exploration grew into one of my most comprehensive design sets yet. This series allowed me to develop my Photoshop &amp; Sketch skills and was a ton of fun.</p>
                        </div>
                    {% endblock %}
                    {% block section_default_outside_content %}
                        <div class="section--default--vgs__background">
                            {% include "@atoms/images/image-default/_image-default-main.twig" with 
                                {
                                    "image_src": "vgs/blob.svg",
                                    "image_alt": ""
                                }
                            %}
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block template_main_content %}
        {% include "@molecules/components/component-dribbble-shots/_component-dribbble-shots-main.twig" with
            {
                "component_dribbble_shots_classes": "component--dribbble-shots--vgs"
            }
        %}
    {% endblock %}
{% endembed %}