{% embed "@templates/view-page.twig" with
    {
        "template_id": "portfolio--marvel"
    }
%}
    {% block template_hero_content %}
        {% embed "@organisms/heros/hero-generic/_hero-generic-master.twig" with
            {
                'hero_generic_classes': 'hero--generic--marvel',
                'hero_generic_background_src': 'marvel/hero-bg.png',
                'hero_generic_background_alt': 'Thor Background with iPhone X'
            }
        %}
            {% block hero_generic_content %}
                <div class="">
                    {% include "@atoms/images/image-default/_image-default-master.twig" with
                        {
                            "image_default_classes": "marvel-logo",
                            "image_src": "marvel/logo.png",
                            "image_alt": "Marvel Logo"
                        }
                    %}
                    <h1>MCU MOVIE<br>APP CONCEPT</h1>
                </div>
            {% endblock %}
            {% block hero_generic_other %}
                {% include "@atoms/images/image-default/_image-default-master.twig" with 
                    {
                        "image_default_classes": "marvel-hammer",
                        "image_src": "marvel/mjolnir.png",
                        "image_alt": "Mjolnir"
                    }
                %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block template_main_content %}
        {% include "@molecules/components/component-dribbble-shots/_component-dribbble-shots-master.twig" with
            {
                "component_dribbble_shots_classes": "component--dribbble-shots--marvel"
            }
        %}
    {% endblock %}
{% endembed %}