{% embed "@molecules/blocks/block-experience/_block-experience-main.twig" with
    {
        "block_experience_company_logo_src": "experience/logos/bahLogo.png",
        "block_experience_company_logo_alt": "Test Logo",
        "block_experience_company_name": "Booz Allen Hamilton",
        "block_experience_company_title": "UI/UX Designer – Senior Consultant",
        "block_experience_company_location": "Washington, DC"
    }
%}
    {% block block_experience_company_description %}
        <h3>National Institute of Allergy &amp; Infectious Diseases (NIAID, NIH)</h3>
        <ul>
            <li>Developed the visual theme of an end-to-end intranet redesign and migration (SharePoint to Drupal 8) to achieve the following measurable outcomes:
                <ul>
                    <li>Increase findability of intranet content.</li>
                    <li>Improve task completion rates.</li>
                    <li>Minimize cognitive load on users.</li>
                    <li>Increase utilization of the intranet as a resource for all employees.</li>
                </ul>
            </li>
            <li>Led creative discussions with stakeholders throughout the organization:
                <ul>
                    <li>Gained key insights for creating a style with universal appeal.</li>
                    <li>Facilitated discussions at all levels about how the intranet can be a better employee resource.</li>
                    <li>Transformed discussions into concrete requirements that informed the visual strategy for the project.</li>
                </ul>
            </li>
            <li>Created the Pattern Lab instance for Drupal 8, using HTML, CSS, JavaScript, and Twig, that serves as the creative guide and design platform to reduce front-end development time.</li>
            <li>Built a master prototype that will guide the Drupal development team in creating UX-verified layouts.</li>
            <li>Designed and facilitated an Eye Tracking study to evaluate and enhance the visual design of the intranet and public website.</li>
            <li>Designed style tiles for a broader initiative to unify and augment the visual style of NIAID web properties across the organization.</li>
            <li>Facilitated a Design Sprint with key stakeholders to assess and improve the overall digital experience of NIAID employees.</li>
        </ul>
    {% endblock %}
{% endembed %}